@model IEnumerable<SchoolSystem.ViewModels.SchoolVm.StudentVM.StudentListVM>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Full Name</th>
        <th>Matric No</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>

    @foreach(var student in Model)
    {
        <tr>
            <td>@student.StudentName</td>
            <td>@student.StudentMatricNo</td>
            <td>@student.StudentEmail</td>
            <td>
                <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@student.StudentId">Update</a>
                <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@student.StudentId">Delete</a>
                <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@student.StudentId">Details</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-primary btn-sm">Create</a>

